.container {
    margin-top: 50px;
   }
   .alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 10px;
    margin-bottom: 20px;
   }
   .form-group {
    margin-bottom: 20px;
   }
   .form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
   }
   .btn-primary {
    background-color: #ff00d4;
    color: #fff;
   }
   .btn-success {
    background-color: #28a745;
    color: #fff;
   }
   .btn-primary,
   .btn-success {
    padding: 10px 20px;
    font-size: 16px;
   }
   .btn-primary:hover,
   .btn-success:hover {
    opacity: 0.8;
   }